<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:node="replace"
    tools:overrideLibrary="cc.easyandroid.easyrecyclerview"
    package="cc.easyandroid.listfiltermenu.simple">
    <uses-sdk
        tools:overrideLibrary="cc.easyandroid.easyrecyclerview"
        android:targetSdkVersion="30" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:node="replace"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:windowSoftInputMode="adjustPan|stateHidden|adjustUnspecified" -->
        <!-- android:windowSoftInputMode="adjustNothing" -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <activity android:name="cc.easyandroid.menu.simple.Main3Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>